@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Myeongjo&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

body {
  background-color: black; }

.presentacion {
  margin: 0 auto;
  padding: 70px;
  text-align: center;
  background-color: black; }
  .presentacion .texto {
    color: white;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.3;
    font-family: "Charm", cursive;
    border: 1px solid #bb9b49;
    padding: 40px; }

.cuerpo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
  padding: 2rem; }
  .cuerpo .wrap {
    max-width: 95%;
    margin: 0 auto; }
    .cuerpo .wrap .tittle-carta {
      text-align: center;
      margin-top: 5px; }
    .cuerpo .wrap .wrap-title-section .column-2.carta {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      row-gap: 1rem;
      padding: 1.3rem; }
      .cuerpo .wrap .wrap-title-section .column-2.carta .plato-carta {
        display: flex;
        align-items: center;
        border: 2px solid #bb9b49;
        border-radius: 6px; }
        .cuerpo .wrap .wrap-title-section .column-2.carta .plato-carta .title-plato-carta {
          border: 1px solid #bb9b49;
          border-bottom: none;
          border-top: none;
          flex-basis: 60%;
          padding: 0 1rem;
          margin-top: 10px; }
        .cuerpo .wrap .wrap-title-section .column-2.carta .plato-carta .precio-plato-carta {
          display: flex;
          flex-basis: 15%;
          justify-content: center;
          font-weight: bold; }

.body-reservas {
  background-color: black; }
  .body-reservas .reservas {
    width: 400px;
    height: 450px;
    background-color: black;
    margin: auto;
    padding: 20px 30px;
    border: 4px solid #bb9b49;
    border-radius: 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
    .body-reservas .reservas .reservas h2 {
      margin: 0;
      text-align: center;
      height: 40px;
      margin-bottom: 30px;
      border-bottom: 1px solid;
      font-size: 30px; }
    .body-reservas .reservas .imput-group {
      font-size: 1.2rem;
      padding: 15px 50px;
      margin: auto; }
      .body-reservas .reservas .imput-group .formulario .boton {
        display: inline-block;
        width: 35%;
        height: 30px;
        margin-bottom: 20px; }

.row {
  background-color: black;
  display: flex;
  padding: 30px;
  flex-wrap: wrap; }
  .row .column {
    flex: 25%;
    padding: 5spx; }
  .row .column img {
    width: 105%;
    margin-top: 15px;
    border: 2px solid #bb9b49; }
    .row .column img .column img:hover {
      transform: scale(1.5, 1.5); }

.gifcard {
  background-color: black; }
  .gifcard .tarjeta {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    border: solid 2px #bb9b49; }
  .gifcard .formulario-gifcard {
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 60%;
    margin-top: 50px;
    border: 2px solid #bb9b49;
    border-radius: 5px;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.pie-pagina {
  width: 100%;
  background-color: black;
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white; }
  .pie-pagina .pie-pagina, .pie-pagina .grupo-1 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
    padding: 5px 0px;
    column-gap: 130px; }
    .pie-pagina .pie-pagina .box .box img, .pie-pagina .grupo-1 .box .box img {
      width: 250px; }
    .pie-pagina .pie-pagina .box h2, .pie-pagina .grupo-1 .box h2 {
      font-size: 1.7rem;
      margin-bottom: 30px;
      text-decoration: underline #bb9b49; }
    .pie-pagina .pie-pagina .box .red-social a, .pie-pagina .grupo-1 .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 20px;
      height: 20px;
      line-height: 20px;
      color: #bb9b49; }
    .pie-pagina .pie-pagina .grupo-3, .pie-pagina .pie-pagina .grupo-2, .pie-pagina .pie-pagina ul, .pie-pagina .grupo-1 .grupo-3, .pie-pagina .grupo-1 .grupo-2, .pie-pagina .grupo-1 ul {
      color: white;
      list-style-type: none; }
    .pie-pagina .pie-pagina .grupo-3 a, .pie-pagina .grupo-1 .grupo-3 a {
      color: white; }
    .pie-pagina .pie-pagina .grupo-3 a:hover, .pie-pagina .grupo-1 .grupo-3 a:hover {
      color: #bb9b49; }
